/* Chwoam scrollbary, bo tak jest ładniej */
::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: InterLight;
    /* Ustawiam samemu dodany font dla całej strony */
    color: white;
}

p {
    margin: 0%;
    padding: 0%;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-family: InterLight;
    color: white;
}

.searchButton {
    position: fixed;
    z-index: 10;
    left: 92vw;
    top: 7vh;
    width: 2.8cm;
    height: auto;
    opacity: 80%;
}
.searchView{
    z-index: 15;
    position: fixed;
    background-color: rgba(5, 5, 5, 0.5);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: none;
}
.searchViewClose{
    position: fixed;
    left: 92vw;
    top: 7vh;
    width: 2.8cm;
    height: auto;
    opacity: 80%;
}
.searchingTitle{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    font-size: 1.8cm;
}
.searchingSomeTitle{
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -33%);
    width: 50%;
    height: 6%;
    border-radius: 2cm;
    text-align: center;
    font-size: 1cm;
    padding: 0px 4cm 0px 4cm;
}
.searchingSomeTitle::placeholder{
    font-family: InterLight;
}
input:focus, textarea:focus, select:focus{
    outline-width: none;
    outline: none;
}
.searchingBarIcon{
    width: 2.3cm;
    height: auto;
    position: absolute;
    left: 77.3%;
    top: 30.3%;
}

.filteringBox{
    background-color: rgba(255, 255, 255, 0.5);
    width: 64%;
    height: 47%;
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -73%);
    border-radius: 1.2cm;
}
.filteringTitle{
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%, -2%);
    font-size: 1.3cm;
}
.filterOption{
    position: relative;
    display: flex;
    margin-top: 0.6cm;
    font-size: 1cm;
    left: 1cm;
    top: 10.5%;
    transform: translateY(-10.5%);
}

.filterOptionsInputs{
    position: absolute;
    left: 9cm;
    top: 66%;
    transform: translateY(-66%);
    /*background-color: rgb(230, 14, 14);*/
    width: 72%;
    height: 80%;
}
.filterRating{
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ratingMinStars img, .ratingMaxStars img{
    width: 1.2cm;
    height: auto;
    margin: 0px 0.6315cm 0px 0.6315cm;
}
.filterSeparator{
    font-size: 1cm;
}

.filterGenre, .filterType, .filterDirector{
    position: relative;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -4%);
    width: 96%;
    height: 11%;
    border-radius: 1cm;
    padding: 0px 0.5cm 0px 0.5cm;
    text-align: center;
    -webkit-appearance: none;
    font-size: 0.8cm;
}

.filterType{
    top: 8%;
}

.filterDirector{
    top: 12%;
}

.filterReleaseYear{
    display: inline-flex;
    position: relative;
    left: 0.6cm;
    top: 16.5%;
    transform: translateY(-16.5%);
    width: 100%;
    height: 11.5%;
}

.filterReviews{
    display: inline-flex;
    position: relative;
    left: 0.6cm;
    top: 20.5%;
    transform: translateY(-20.5%);
    width: 100%;
    height: 11.5%;
}

.filterInputText{
    width: 45%;
    text-align: center;
    border-radius: 2cm;
    font-size: 0.8cm;
}

.filterReleaseYear .filterSeparator, .filterReviews .filterSeparator{
    margin: 0px 0.3cm 0px 0.3cm;
}

/* Sekcja z menu strony */
nav {
    width: 7vw;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
}

.menuLogo {
    /* Logo strony w menu */
    width: auto;
    height: 2cm;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
}

.menuIcon {
    /* Inne obrazki w menu */
    width: 0.7cm;
    height: 0.7cm;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 17vh;
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
}

.socialMediaIcon {
    width: 0.7cm;
    height: 0.7cm;
    position: relative;
    left: 30%;
    transform: translateX(-30%);
    top: 37vh;
    margin-right: 18%;
}

/* Sekcja główna strony */
main {
    width: 100%;
    height: 100%;
    min-height: 1200px;
    position: relative;
    background-color: #151515;
    z-index: 0;
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 60%, #000000), url('images/sitebg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.mainDiv{
    width: 100%;
    height: 5500px;
    position: relative;
    background-color: #151515;
    z-index: 0;
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 60%, #000000), url('images/sitebg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.homeBackground {
    /* Tło sekcji 'home' */
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 0%;
    position: relative;
    z-index: 2;
    background-image: url('images/editbg11.png');
    background-repeat: no-repeat;
}

.hotShowIcon {
    width: 1cm;
    height: 1cm;
    position: absolute;
    left: 10vw;
    top: 7.5vh;
}

.hotShowText {
    position: absolute;
    left: 12vw;
    top: 7.7vh;
    font-size: 0.8cm;
    opacity: 80%;
}

.hotShowTitle {
    position: absolute;
    left: 10vw;
    top: 9vh;
    font-family: IMFell;
    font-size: 5cm;
    text-align: center;
    color: #AB2626;
    -webkit-text-stroke: 2.5px black;
    opacity: 70%;
    letter-spacing: -20px;
}

.nextLineHotShowTitle {
    display: block;
    margin-bottom: -2cm;
}

.hotShowDescription {
    position: absolute;
    left: 10vw;
    top: 39vh;
    text-align: left;
    width: 24cm;
    font-size: 0.9cm;
    opacity: 80%;
}

.hotShowInfo {
    position: absolute;
    left: 10vw;
    top: 67vh;
    font-size: 0.7cm;
    opacity: 80%;
}

.nextLineHotShowInfo {
    display: block;
    margin-bottom: -1.8cm;
}

.hotShowStar {
    width: 2cm;
    height: auto;
    opacity: 80%;
    margin: 0px 0.8cm 0px 0.8cm;
    position: relative;
    top: 71vh;
    left: 14.3vw;
}

.hotShowRatingText {
    position: absolute;
    font-size: 0.8cm;
    opacity: 80%;
    position: absolute;
    top: 79vh;
    left: 25vw;
}

.hotShowReadMore {
    position: absolute;
    top: 84vh;
    left: 10vw;
    font-size: 1.4cm;
    background-image: linear-gradient(90deg, #98ACC0, #B089BF, #BF97C0);
    width: 18cm;
    text-align: center;
    padding: 0.3cm 2.6cm 0.3cm 2.6cm;
    border-radius: 0.5cm;
}




    .przyciskglowny {
        background-color: #c85fa6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: bold;
    }

    .karuzelaFilmow1, .karuzelaFilmow2, .karuzelaFilmow3 {
        padding: 0 20px;
        position: absolute;
        left: 10vw;
        top: 120vh;
        z-index: 500;
    }
        .karuzelaFilmow2{
            top: 150vh;
        }
        .karuzelaFilmow3{
            top: 180vh;
        }

    .opakowanie {
        position: relative;
        overflow: hidden;
    }

    .listaFilmow {
        display: flex;
        align-items: center;
        height: 300px;
        transform: translateX(0);
        transition: all 1s ease-in-out;
    }

    .film {
        margin-right: 30px;
        position: relative;
    }

    .film:hover .filmImg {
        transform: scale(1.2);
        margin: 0 30px;
        opacity: 0.5;
    }

    .film:hover .tytulFilmu,
    .film:hover .opisFilmuKaruzela,
    .film:hover .przyciskKaruzela {
        opacity: 1;
    }

    .filmImg {
        transition: all 1s ease-in-out;
        width: 270px;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }

    .tytulFilmu {
        background-color: #333;
        padding: 0 10px;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .opisFilmuKaruzela {
        background-color: #333;
        padding: 10px;
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 50px;
        width: 230px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .przyciskKaruzela {
        padding: 10px;
        background-color: #c85fa6;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .strzalka {
        font-size: 120px;
        position: absolute;
        top: 90px;
        right: 0;
        color: lightgray;
        opacity: 0.5;
        cursor: pointer;
    }






/* SEARCHING RESULTS SEARCHING RESULTS SEARCHING RESULTS */

    .searchedPhrase{
        position: relative;
        left: 10vw;
        top: 3cm;
        font-size: 1.4cm;
    }

    .sortingLine{
        display: inline-flex;
        width: 100%;
    }
    .sortByLabel{
        position: relative;
        left: 10vw;
        top: 4cm;
        font-size: 1cm;
    }
    .sortBy{
        position: relative;
        left: 12vw;
        top: 4.1cm;
        font-size: 0.8cm;
        width: 14%;
        height: 2%;
        border-radius: 1cm;
        padding: 0px 0.5cm 0px 0.5cm;
        text-align: center;
        -webkit-appearance: none;
    }

    .resultList{
        /*background-color: rgba(175, 175, 175, 0.25);*/
        position: relative;
        height: fit-content;
        width: 86%;
        left: 0%;
        top: 5cm;
        padding: 0px 10% 0px 10%;
        margin-bottom: 12%;
    }
    .showShow{
        width: 14%;
        height: auto;
        margin: 0px 1.4% 1.4% 0px;
    }

    .seeMoreLine{
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 2cm;
        padding: 0.25cm 0.5cm 0.25cm 0.5cm;
        display: inline-flex;
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        font-family: InterMedium;
        letter-spacing: 0.1cm;
        margin: 0px 0px 8% 0px;
    }
    .seeMoreText{
        font-size: 0.85cm;
        margin: 0px 0.6cm 0px 0.6cm;
    }
    .seeMoreImage{
        width: 1cm;
        height: auto;
    }

/* SEARCHING RESULTS SEARCHING RESULTS SEARCHING RESULTS */


/* PRACA Z API */
#trendySection{
    position: absolute;
    top: 41cm;
    left: 11vw;
}
.popularTitlesTitle{
    position: absolute;
    top: 44cm;
    left: 11vw;
    font-size: 2cm;
}
.popularMoviesSection{
    /*background-color: #AB2626;*/
    position: absolute;
    top: 48cm;
    left: 11vw;
    width: 78vw;
    height: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
}
.popularMovie{
    /*background-color: #B089BF;*/
    width: 24%;
    margin: 0px 0.3cm 0.3cm 0px;
}
.movieCovers{
    width: 100%;
}
.movieTitles{
    width: 100%;
    font-size: 0.8cm;
}

    
/* Poniżej dodaje własne fonty z folderu 'fonts': */
@font-face {
    font-family: InterLight;
    src: url(fonts/Inter-Light.ttf);
}
@font-face {
    font-family: InterMedium;
    src: url(fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: IMFell;
    src: url(fonts/IMFellGreatPrimerSC-Regular.ttf);
}