/* Chwoam scrollbary, bo tak jest ładniej */
::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: InterLight;
    /* Ustawiam samemu dodany font dla całej strony */
    color: white;
}

p {
    margin: 0%;
    padding: 0%;
}

.searchButton {
    position: fixed;
    z-index: 10;
    left: 92vw;
    top: 7vh;
    width: 2.8cm;
    height: auto;
    opacity: 80%;
}

/* Sekcja z menu strony */
nav {
    width: 7vw;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
}

.menuLogo {
    /* Logo strony w menu */
    width: auto;
    height: 2cm;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
}

.menuIcon {
    /* Inne obrazki w menu */
    width: 0.7cm;
    height: 0.7cm;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 17vh;
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
}

.socialMediaIcon {
    width: 0.7cm;
    height: 0.7cm;
    position: relative;
    left: 30%;
    transform: translateX(-30%);
    top: 37vh;
    margin-right: 18%;
}

/* Sekcja główna strony */
main {
    width: 100%;
    height: 6000px;
    position: relative;
    background-color: #151515;
    z-index: 0;
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 60%, #000000), url('images/sitebg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.homeBackground {
    /* Tło sekcji 'home' */
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 0%;
    position: relative;
    z-index: 2;
    background-image: url('images/editbg11.png');
    background-repeat: no-repeat;
}

.hotShowIcon {
    width: 1cm;
    height: 1cm;
    position: absolute;
    left: 10vw;
    top: 7.5vh;
}

.hotShowText {
    position: absolute;
    left: 12vw;
    top: 7.7vh;
    font-size: 0.8cm;
    opacity: 80%;
}

.hotShowTitle {
    position: absolute;
    left: 10vw;
    top: 9vh;
    font-family: IMFell;
    font-size: 5cm;
    text-align: center;
    color: #AB2626;
    -webkit-text-stroke: 2.5px black;
    opacity: 70%;
    letter-spacing: -20px;
}

.nextLineHotShowTitle {
    display: block;
    margin-bottom: -2cm;
}

.hotShowDescription {
    position: absolute;
    left: 10vw;
    top: 39vh;
    text-align: left;
    width: 24cm;
    font-size: 0.9cm;
    opacity: 80%;
}

.hotShowInfo {
    position: absolute;
    left: 10vw;
    top: 67vh;
    font-size: 0.7cm;
    opacity: 80%;
}

.nextLineHotShowInfo {
    display: block;
    margin-bottom: -1.8cm;
}

.hotShowStar {
    width: 2cm;
    height: auto;
    opacity: 80%;
    margin: 0px 0.8cm 0px 0.8cm;
    position: relative;
    top: 71vh;
    left: 14.3vw;
}

.hotShowRatingText {
    position: absolute;
    font-size: 0.8cm;
    opacity: 80%;
    position: absolute;
    top: 79vh;
    left: 25vw;
}

.hotShowReadMore {
    position: absolute;
    top: 84vh;
    left: 10vw;
    font-size: 1.4cm;
    background-image: linear-gradient(90deg, #98ACC0, #B089BF, #BF97C0);
    width: 18cm;
    text-align: center;
    padding: 0.3cm 2.6cm 0.3cm 2.6cm;
    border-radius: 0.5cm;
}




    .przyciskglowny {
        background-color: #c85fa6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: bold;
    }

    .karuzelaFilmow1, .karuzelaFilmow2, .karuzelaFilmow3 {
        padding: 0 20px;
        position: absolute;
        left: 10vw;
        top: 110vh;
        z-index: 500;
    }
        .karuzelaFilmow2{
            top: 140vh;
        }
        .karuzelaFilmow3{
            top: 170vh;
        }

    .opakowanie {
        position: relative;
        overflow: hidden;
    }

    .listaFilmow {
        display: flex;
        align-items: center;
        height: 300px;
        transform: translateX(0);
        transition: all 1s ease-in-out;
    }

    .film {
        margin-right: 30px;
        position: relative;
    }

    .film:hover .filmImg {
        transform: scale(1.2);
        margin: 0 30px;
        opacity: 0.5;
    }

    .film:hover .tytulFilmu,
    .film:hover .opisFilmuKaruzela,
    .film:hover .przyciskKaruzela {
        opacity: 1;
    }

    .filmImg {
        transition: all 1s ease-in-out;
        width: 270px;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }

    .tytulFilmu {
        background-color: #333;
        padding: 0 10px;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .opisFilmuKaruzela {
        background-color: #333;
        padding: 10px;
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 50px;
        width: 230px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .przyciskKaruzela {
        padding: 10px;
        background-color: #c85fa6;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .strzalka {
        font-size: 120px;
        position: absolute;
        top: 90px;
        right: 0;
        color: lightgray;
        opacity: 0.5;
        cursor: pointer;
    }